#content {
width: 900px;
margin: 0 auto;
}

#masthead {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 60px;
  padding: 30px;
  color: #262640;
  text-align: center;
}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

#sarah {
  width: 800px;
  height: 500px;
  padding-top: 10px;
}

#hope {
  width: 800px;
  height: 500px;
  padding-top: 10px;
}

#moon {
  width: 800px;
  height: 500px;
  padding-top: 10px;
}

#spacecraft {
  width: 800px;
  height: 500px;
  padding-top: 10px;
}

h4 {
  color: #8c8c8c;
}

h1 {
  font-family: Helvetica, sans-serif;
}

p {
  font-family: Georgia, serif;
  font-size: 13px;
}

blockquote {
  font-family: Helvetica, serif;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  color: #262640;
}
