#content {
width: 1200px;
text-align: center;
}

#masthead {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 60px;
  padding-top: 30px;
}


#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

h1 {
  font-family: Helvetica, sans-serif;
}

p {
  font-family: Georgia, serif;
  font-size: 13px;
}

blockquote {
  font-family: Helvetica, serif;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

#links {
  display: inline;
}
